.login_title h2 {
  font-family: arial;
  font-size: 40px;
  font-weight: 400;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  max-width: 100%;
}

.form_inp {
  display: flex;
  flex-direction: column;
}

.form_inp label {
  font-family: arial;
  font-size: 12px;
  color: #ffffff99;
  font-weight: 400;
  padding-left: 10px;
}

.form_inp input {
  border-radius: 15px;
  border: 1px solid white;
  background-color: #1e1e1e5b;
  padding: 14px 16px;
  color: white;
  font-size: 20px;
  font-family: arial;
  outline: none;
  max-width: 90%;
}

.form_inp input::placeholder,
.form_inp__down input::placeholder,
.form_inp__shortplaceholder input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
  font-family: arial;
}

.form_inp__down {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.form_inp__down input:first-child,
.form_inp__down input:last-child,
.form_inp__shortplaceholder input:first-child,
.form_inp__shortplaceholder input:last-child {
  border-radius: 15px;
  border: 1px solid #8f1313;
  background-color: #1e1e1e5b;
  padding: 14px 16px;
  color: white;
  font-size: 20px;
  font-family: arial;
  max-width: 35%;
}

.form_inp__down input:last-child {
  max-width: 45%;
}

.form_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_checkbox {
  background-color: #ffffff66;
  width: 24px;
  height: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.login_img img {
  max-width: 100%;
}

.form_inp__shortplaceholder {
  display: none;
}

@media (max-width: 1050px) {
  .form_inp input::placeholder,
  .form_inp__down input::placeholder,
  .form_inp__shortplaceholder input::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .login_img img {
    display: none;
  }
}

@media (max-width: 900px) {
  .login_title h2 {
    font-size: 32px;
  }
  .form_inp__shortplaceholder {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-size: 16px;
  }
  .form_inp__down {
    display: none;
  }
}
